body{
    background-color: rgb(224, 224, 224);
    color: antiquewhite;
}
#Heading {
    display: flex;
    align-items: center;  
    gap: 20px;             
    background-color: rgb(0, 116, 194);
}
#Heading img {
    height: 60px;          
}
#navigation ul {
    display: flex;  
    gap: 20px;
    padding: 0;
    margin: 0;
}

#navigation li {
    cursor: pointer;
}
#navigation li:hover {
    color: #68f396;
    text-decoration: underline;
}
#About{
    color: black;
}
#TitleCard a {
    text-decoration: none; 
    color: black;         
}
#TitleCard>a > div {
    width: 300px;
    height: 200px;
    background: #b3b3b3;
    border: 2px solid black;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#TitleCard>a > div  img {
    height: 100px;
    margin-bottom: 10px;
}

#TitleCard>a > div:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    cursor: pointer;
}
#Drawingcard {
    display: flex;
}
#Drawingcard>div{
    width: 300px;
    background: #ffffff;
    border: 2px solid black;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    color: brown;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#Drawingcard img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 320px;
    object-fit: contain;
    border: 2px solid black;
}