#QuestionFont{
    color: black;
    font-size: x-large;
    font-weight: bold;

}
#AnswerFont{
    color: black;
}

.BlueSky{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to top, #5b9bfa, #167baa);
    overflow-x: hidden;
    position: relative;
}
