#QuestionFont{
    color: black;
    font-size: x-large;
    font-weight: bold;

}
#AnswerFont{
    color: black;
}
dt{
    color: black;
    font-size: x-large;
    font-weight: bold;
}
dd{
    color: black;
}
.BlueSky{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to top, #5b9bfa, #78c4e7);
    overflow-x: hidden;
    position: relative;
}
